.app{
  min-height: 120vh;
  background: rgb(29, 202, 255);
  justify-content: space-around;
  display: flex;
}

.tweet{
  background: white;
  border: 2px solid red;
  height: 310px;
  width: 310px;
  border-radius: 32px;
  flex-direction: column;
  justify-content: center;
}

.workFlowForm {
  width: 100%;
}

.wokflowName{
  padding-left: 1%;
}

.durationsClass{
  display: inline-flex;
}
